In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [10]:
ser= pd.Series()
ser

Series([], dtype: float64)

In [11]:
ser=pd.Series([0,10,20,30,40,50,60,70,80,90])
ser

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [12]:
ser= pd.Series([20,15.7,'10'])

ser

0      20
1    15.7
2      10
dtype: object

In [13]:
#Create Dictionary 
dict= {'A':[1,2,5],'B':[5,8,9],'C':[1,2,3]}

In [14]:
df=pd.DataFrame(dict)
df

   A  B  C
0  1  5  1
1  2  8  2
2  5  9  3

In [16]:
#add new column and add values into it
df['States']= "CA NV AZ".split()

In [17]:
df

   A  B  C States
0  1  5  1     CA
1  2  8  2     NV
2  5  9  3     AZ

In [18]:
# how to create Nan values and its manipulation
dict= {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [19]:
df=pd.DataFrame(dict)

In [20]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3