In [2]:
import time
result= time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=2, tm_mday=18, tm_hour=10, tm_min=25, tm_sec=21, tm_wday=4, tm_yday=49, tm_isdst=0)

In [5]:
while True:
    result=time.localtime()
    if result.tm_hour==10 and result.tm_min==27:
        print('Ravi wake up')
        break

Ravi wake up

In [6]:
students=['Naveen','Ratna','Ravi','Vivaan','Shridhar','Chinnu']
for name in enumerate(students):
    print(name)

(0, 'Naveen')
(1, 'Ratna')
(2, 'Ravi')
(3, 'Vivaan')
(4, 'Shridhar')
(5, 'Chinnu')

In [8]:
for i,name in enumerate(students,1):
    print(i,name)

1 Naveen
2 Ratna
3 Ravi
4 Vivaan
5 Shridhar
6 Chinnu

In [23]:
students_names=['Naveen','Ratna','Ravi','Vivaan','Shridhar','Chinnu']
students_marks=[53,74,96,81,55,83]
students_details = (zip(students_names,students_marks))

In [13]:
students_details=list(zip(students_names,students_marks))
students_details

[('Naveen', 53),
 ('Ratna', 74),
 ('Ravi', 96),
 ('Vivaan', 81),
 ('Shridhar', 55),
 ('Chinnu', 83)]

In [14]:
name,marks_num= zip(*students_details)
name

('Naveen', 'Ratna', 'Ravi', 'Vivaan', 'Shridhar', 'Chinnu')

In [15]:
marks_num

(53, 74, 96, 81, 55, 83)

In [18]:
students_names=['Naveen','Ratna','Ravi','Vivaan','Shridhar','Chinnu']
students_marks=[53,74,96,81,55,83]
for i,(names,marks)in enumerate(zip(students_names,students_marks),1):
    print(i,names,marks)

1 Naveen 53
2 Ratna 74
3 Ravi 96
4 Vivaan 81
5 Shridhar 55
6 Chinnu 83

In [27]:
city=['Bengluru','Delhi','Noida','Hyderabad','Mumbai']
for val in city:
    if val=='Hyderabad':
        break
    print(val)

Bengluru
Delhi
Noida

In [30]:
salary=[2000,3000,4000,4500,5000,7000,8000]
for val in salary:
    if val>4600:
        break
    print(val)

2000
3000
4000
4500

In [31]:
city=['Bengluru','Delhi','Noida','Hyderabad','Mumbai']
for val in city:
    if val=='Hyderabad':
        continue
    print(val)

Bengluru
Delhi
Noida
Mumbai

In [3]:
salary=['w':'2000']
for val in salary:
    
    print(val)

SyntaxError: invalid syntax (Temp/ipykernel_14796/2040585276.py, line 1)

In [33]:
print(range(10))

range(0, 10)

In [34]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
roll_numbers=list(range(1,8))
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [37]:
step_size=list(range(0,31,3))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [38]:
step_size=list(range(0,48,2))
step_size

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46]